<head>
    <meta name="author" content="Matthew Lewicki">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <title>Spotify Login</title>
    <link rel="stylesheet" href="static/loginStyle.css">
</head>
<body>
    <section>
   <h1>Spotify Sentiment Analysis</h1>
        <form method="post" name="loggin" id="loggin">
            <fieldset>
                <a href="/spotify_authentication">
                <input type="button" name='submit' value="Sign In" /></a>    
            </fieldset>
        </form>
    </section>
</body>
</html>